{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if reserva.id %}
        <h1>Editando {{ reserva.maquina }}</h1>
    {% else %}
        <h1>Haciendo una reserva, recuerda que las reservas son de X min</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>

    <div class="botonera">
        <button type="submit" class="btnConfirmar">

            {% if reserva.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Hacer la reserva
            {% endif %}
        </button>
        <a href="{{ path('reservas_listar') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>
        {{ form_end(form) }}
    </div>

{% endblock %}