{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/usuarios.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Cambiando tu contraseña</h1>
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar"><i class="fa fa-check"></i> Guardar cambios</button>
        <a class="btnVolver" href="{{ path('usuarios_perfil',{'id':app.user.id}) }}"><i class="fa-solid fa-table-list"></i>Volver a mi perfil</a>
        {{ form_end(form) }}
    </div>

{% endblock %}