{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/usuarios.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
        <h1>Aquí puedes editar tu perfil, {{ usuario.nombre }}</h1>
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
                <i class="fa fa-check"></i> Guardar cambios
        </button>
        <a href="{{ path('principal') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Ir al Inicio</a>
        <a href="{{ path('usuarios_cambioContra') }}" class="btnVolver"><i class="fa fa-pencil-alt"></i> Cambiar contraseña</a>
        {{ form_end(form) }}
    </div>

{% endblock %}