{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/entreno.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>{{ app.user.miTabla}}</h1>
    {% for dia in app.user.miTabla.dias %}
        <p>{{ dia }}</p>
        {% for ejercicio in dia.ejercicios %}
            <ul>
            <li>{{ ejercicio }} <a href="{{ path('series_nueva',{'usuario':app.user.id,'ejercicio':ejercicio.id}) }}" class="">Empezar el ejercicio</a>
                <a href="{{ path('series_serieHoy',{'usuario':app.user.id,'fecha':"now"|date("Y-m-d"),'ejercicio':ejercicio.id}) }}" class="">Ver Series que llevo</a>
            </li>
            </ul>
        {% endfor %}
    {% endfor %}

    <div class="botonera">
        <a href="{{ path('tablas_listar') }}" class="btnVolver">Cambiar de tabla</a>
    </div>



{% endblock %}