{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/usuarios.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <h1> Listado de usuarios por apellidos</h1>
        <div class="cajaMas">
            <a href="{{ path('usuarios_nuevo') }}" class="btnDefecto"><i class=" fa fa-user-plus"></i>Añadir un usuario</a>
        </div>
        <div class="cajatabla">
            <table>
                <thead>
                <tr>
                    <th>Foto</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Fecha Nacimiento</th>
                    <th>Correo</th>
                    <th>Activado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {%  for usuario in usuarios %}
                    <tr class="filaUsuarios">
                        <td>
                            <div class="huecoFoto">
                                {% if usuario.brochureFilename %}
                                <img class="fotoPersona" alt="" src={{ usuario.brochureFilename }} >
                                {% else %}
                                <img class="fotoPersona" src="{{ asset('Imagenes/fotoPerfil.webp') }}" alt="">
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ usuario.dni }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.fechaNacimiento|date }}</td>
                        <td>{{ usuario.correo}} </td>
                        <td class="test">
                            <div class="cajaBoton">
                            {% if usuario.activado %}
                                <a href="{{ path("usuarios_activar",{'id':usuario.id}) }}" class="btnDesactivar">Desactivar</a>

                            {% else %}
                                <a href="{{ path("usuarios_activar",{'id':usuario.id}) }}" class="btnActivar">Activar</a>

                            {% endif %}
                            </div>
                        </td>
                        <td class="cajaIconos">
                            <a class="fa fa-pencil-alt iconos" href="{{ path('usuarios_modificar',{'id':usuario.id}) }}" ></a>
                            <a class="fa fa-trash-alt iconos" href="{{ path('usuarios_eliminar',{'id':usuario.id}) }}" ></a>

                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No hay Usuarios</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}