{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if tabla.id %}
        <h1>Editando {{ tabla.nombreTabla }}</h1>
    {% else %}
        <h1>Creando una nueva tabla</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if tabla.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Crear esta tabla
            {% endif %}
        </button>
        {% if is_granted('ROLE_MONITOR') %}
            <a class="btnVolver" href="{{ path('tablas_listar') }}"><i class="fa-solid fa-table-list"></i>Volver al listado</a>
        {% else %}
            <a class="btnVolver" href="{{ path('tablas_listarUser',{'usuario':app.user.id }) }}"><i class="fa-solid fa-table-list"></i>Volver al listado</a>
        {% endif %}
        {{ form_end(form) }}
    </div>

{% endblock %}