{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/aparatos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <h1> Tablas Disponibles, elige una</h1>
        <div class="cajaMas">
            <a href="{{ path('tablas_nueva') }}" class="btnDefecto"><i class=" fa fa-user-plus"></i>Crear una tabla</a>
        </div>
        <div class="cajatabla">
            <table>
                <thead>
                <tr>
                    <th>Nombre Tabla</th>
                    <th>Creador</th>
                    <th>Ver tabla</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {%  for tabla in tablas %}
                    <tr class="filaUsuarios">
                        <td>{{ tabla.nombreTabla }}</td>
                        <td>{{ tabla.creador }}</td>
                        <td><a class="fa fa-eye iconos" href="{{ path('tablas_verTabla',{'tabla':tabla.id}) }}" ></a></td>
                        <td class="cajaIconos">
                            <a class="fa fa-pencil-alt iconos" href="{{ path('tablas_modificar',{'id':tabla.id}) }}" ></a>
                            <a class="fa fa-trash-alt iconos" href="{{ path('tablas_eliminar',{'id':tabla.id}) }}" ></a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay tablas disponibles</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}