{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/usuarios.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% if usuario.id %}
        <h1>Editando el perfil de {{ usuario.nombre }}</h1>
    {% else %}
        <h1>Creando un nuevo usuario</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if usuario.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Crear nuevo Usuario
            {% endif %}
        </button>
        <a href="{{ path('usuarios_listar') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>
        {{ form_end(form) }}
    </div>

{% endblock %}