{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if dia.id %}
        <h1>Editando {{ dia.diaSemana }}</h1>
    {% else %}
        <h1>Creando un nuevo aparato</h1>
    {% endif %}
    {% for i in 0..6 %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if dia.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Guardar dia
            {% endif %}
        </button>
        {{ form_end(form) }}
    </div>
    {% endfor %}
        <a href="{{ path('dias_listar') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>

{% endblock %}