{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if dia.id %}
        <h1>Editando {{ dia.diaSemana }} de la tabla {{ dia.Tabla }}</h1>
    {% else %}
        <h1>Añadiendo un nuevo dia a la tabla {{ dia.tabla }}</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if dia.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Guardar dia
            {% endif %}
        </button>
        {{ form_end(form) }}
        <a href="{{ path('tablas_verTabla',{'tabla':dia.Tabla.id}) }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    </div>

{% endblock %}