{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('Css/aparatos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <h1> Listado de aparatos</h1>
        <div class="cajaMas">
            <a href="{{ path('aparatos_nuevo') }}" class="btnDefecto"><i class=" fa fa-user-plus"></i>Añadir un aparato</a>
        </div>
        <div class="cajatabla">
            <table>
                <thead>
                <tr>
                    <th>Nombre Aparato</th>
                    <th>Reservable</th>
                    <th>Asignar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {%  for aparato in aparatos %}
                    <tr class="filaUsuarios">
                        <td>{{ aparato.nombreAparato }}</td>
                        <td class="test">
                            <div class="cajaBoton">
                            {% if aparato.reservable %}
                                <a href="{{ path("aparatos_cambRes",{'id':aparato.id}) }}" class="btnDesactivar">Quitar Reservable</a>
                            {% else %}
                                <a href="{{ path("aparatos_cambRes",{'id':aparato.id}) }}" class="btnActivar">Hacer Reservable</a>
                            {% endif %}
                            </div>
                        </td>

                        <td><a href="{{ path('maquinas_nueva') }}" class="btnAsignar">Asignar ejercicios o máquinas</a></td>
                        <td class="cajaIconos">
                            <a class="fa fa-pencil-alt iconos" href="{{ path('aparatos_modificar',{'id':aparato.id}) }}" ></a>
                            <a class="fa fa-trash-alt iconos" href="{{ path('aparatos_eliminar',{'id':aparato.id}) }}" ></a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay Aparatos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}