{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <nav class="menuLayout">
        <div class="menuLayout_izquierda">
        <figure class="miLogo">
            <a href="{{ path('principal') }}"><img src="{{ asset('Imagenes/logo.png') }}" alt=""></a>
        </figure>
                {% if is_granted('ROLE_USER') %}
            <ul>
                <li><a href="{{ path('ejercicios_listar') }}"><i class="fa-solid fa-dumbbell"></i>Ejercicios</a></li>
                <li><a href="{{ path('tablas_listar') }}"><i class="fa-solid fa-table-list"></i>Tablas</a></li>
                <li><a href="#"><i class="fa-solid fa-calendar-days"></i>Calendario</a></li>
                {% if app.user.miTabla == null %}
                {% else %}
                <li><a href="{{ path('usuarios_miTabla',{'tabla':app.user.mitabla,'id':app.user.id}) }}"><i class="fa-solid fa-fire-flame-curved"></i>Entreno diario</a></li>
                {% endif %}
                <li><a href="{{ path('horarios_listar') }}"><i class="fa-solid fa-clock"></i>Horarios</a></li>
                <li><a href="{{ path('aparatos_listar') }}"><i class="fa-solid fa-bicycle"></i>Aparatos</a></li>
                <li><a href="{{ path('usuarios_listar') }}"><i class="fa-solid fa-users"></i>Usuarios</a></li>
                <li><a href="{{ path('reservas_listar') }}"><i class="fa-solid fa-calendar-check"></i>Reservar</a></li>
            </ul>
                {% endif %}
        </div>
        <div class="menuLayout_derecha">
            {% if app.user %}
                <p><a href="{{ path('logout') }}">Cerrar Sesión</a></p>
                <figure>
                <a href="{{ path('usuarios_perfil',{'id':app.user.id}) }}"><img src="{{ app.user.imageName }}" alt=""></a>
                </figure>
            {% else %}
                <p><a href="{{ path('login') }}">Iniciar Sesión</a></p>
                <figure>
                <a href="#"><img src="{{ asset('Imagenes/fotoPerfil.webp') }}" alt=""></a>
                </figure>
            {% endif %}


        </div>
    </nav>
    <div class="contenido">
        {% for type,messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
    <footer>
        <p><i class="fa-solid fa-copyright"></i>Derechos reservados</p>
        <p>Javier del Bas Corral</p>
    </footer>
{% endblock %}
