{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <nav class="menuLayout">
        <div class="menuLayout_izquierda">
            <figure>
                <a href="{{ path('principal') }}"><img src="{{ asset('Imagenes/logo.png') }}" alt=""></a>
            </figure>
            <ul>
                <li><a href="{{ path('ejercicios_listar') }}"><i class="fa-solid fa-dumbbell"></i>Ejercicios</a></li>
                <li><a href="#"><i class="fa-solid fa-table-list"></i>Tablas</a></li>
                <li><a href="#"><i class="fa-solid fa-calendar-days"></i>Calendario</a></li>
                <li><a href="#"><i class="fa-solid fa-fire-flame-curved"></i>Entreno diario</a></li>
                <li><a href="#"><i class="fa-solid fa-clock"></i>Horarios</a></li>
                <li><a href="{{ path('aparatos_listar') }}"><i class="fa-solid fa-bicycle"></i>Aparatos</a></li>
                <li><a href="{{ path('usuarios_listar') }}"><i class="fa-solid fa-users"></i>Usuarios</a></li>

            </ul>
        </div>
        <div class="menuLayout_derecha">
            <p><a href="#">Iniciar Sesión</a></p>
            <p><a href="#">Cerrar Sesión</a></p>
            <figure>
                <a href="#"><img src="{{ asset('Imagenes/fotoPerfil.webp') }}" alt=""></a>
            </figure>

        </div>


    </nav>
    <div class="contenido">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p><i class="fa-solid fa-copyright"></i>Derechos reservados</p>
        <p>Javier del Bas Corral</p>
    </footer>
{% endblock %}
