{% extends 'layout.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    {% if horario.id %}
        <h1>¿Cambiar el horario de {{ horario.hora }}</h1>
    {% else %}
        <h1>Crear nuevo horario</h1>
    {% endif %}
    <div class="cajaForm">
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="botonera">
        <button type="submit" class="btnConfirmar">
            {% if horario.id %}
                <i class="fa fa-check"></i> Guardar cambios
            {% else %}
                <i class="fa fa-plus"></i> Guardar horario
            {% endif %}
        </button>
        {{ form_end(form) }}
        <a href="{{ path('horarios_listar') }}" class="btnVolver"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    </div>

{% endblock %}